[submodule "vendor/freestnd-cxx-hdrs"]
	path = vendor/freestnd-cxx-hdrs
	url = https://github.com/osdev0/freestnd-cxx-hdrs
[submodule "vendor/freestnd-c-hdrs"]
	path = vendor/freestnd-c-hdrs
	url = https://github.com/osdev0/freestnd-c-hdrs
[submodule "vendor/nanoprintf"]
	path = vendor/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf
[submodule "vendor/cc-runtime"]
	path = vendor/cc-runtime
	url = https://github.com/osdev0/cc-runtime
[submodule "vendor/uacpi"]
	path = vendor/uacpi
	url = https://github.com/uACPI/uACPI
[submodule "vendor/flanterm"]
	path = vendor/flanterm
	url = https://github.com/mintsuki/flanterm
[submodule "vendor/pairing-heap"]
	path = vendor/pairing-heap
	url = https://github.com/lretq/pairing-heap
[submodule "vendor/limine-protocol"]
	path = vendor/limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol
