menu "Interrupts"
	config LAZY_IPL
		bool "Enable lazy cr8 update"
		default y
		help
			Especially helpful when running under virtualization
endmenu

menu "Boot"
	config EARLYFB
		bool "Enable Early Framebuffer output"
		default n
endmenu
